:root{
  --milky-white: #E3E8F2;
  --color2:#1e1e1e;
}

html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--milky-white);
  color: var(--color2);
}