.weather{
        width: 30rem;
      
        padding: 2rem;
        font-size: 1.3rem;

}

.weather form input{
        padding: 0.5rem 1rem ;
        background-color: var(--milky-white);
        font-size: 1.3rem;
}

.weather form input[type=search]{
      
        outline: none;
       border-radius: 0.5rem;
        border: transparent;
        box-shadow:  0.5rem 0.5rem 1.3rem #c1c5ce,
         -0.5rem -0.5rem 1.3rem #ffffff;
}

.weather form input[type=submit]{
       float: right;
       color: var(--color2);
       padding: 0.5rem 1rem;
       border-radius:  0.5rem;
       border: none;
        box-shadow:   0.5rem 0.5rem 1.3rem #c1c5ce,
             -0.5rem -0.5rem 1.3rem #ffffff;
}

.currentCity h1{
        font-size: 2.4rem;
}

.currentCity ul{
        list-style: none;
        padding: 0;
        display: flex;
         justify-content:space-evenly;
        border-radius:0.5rem;
        background: linear-gradient(145deg, #f3f8ff, #ccd1da);
        box-shadow:   0.5rem 0.5rem 1.3rem #c1c5ce,
             -0.5rem -0.5rem 1.3rem #ffffff;
        padding: 1rem 0;
}

.currentCity li{
        display: inline;
}

.temperatureConversion{
        position: relative;
}

.temperatureConversion h2{
        font-size: 5rem;
}

.temperatureConversion small{
        position: absolute;
        top: 20%;
        right: -1%;
}

.temperatureConversion small a, .Footer p a{
       text-decoration: none;
       font-weight: 900;
       color: var(--color2);
}


